
@{
    ViewBag.Title = "Home Page";
}

<div class="logo">

    <img src="~/Content/images/TheatreLogo.png" alt="logo" style="display: block;margin-left: auto;margin-right: auto;" />
</div>
<div class="info">

    <table align="center" border="0" width="500" height="400">
        <tr>
            <th style="width: 70%;"><p class="MOtext">SPOTLIGHT</p></th>

            <th style="width:30% ;"><p class="MOtext"> DONATIONS </p> </th>
        </tr>

        <tr>
            <td><img src=~/Content/images/DollsHouse.png alt="block" width="350" height="200"></td>


            <td>
                <input type="button" value="Click to Support" onclick="window.location.href='@Url.Action("Donate", "Home")';" />


                <table border="0" width="150" height="30">
                    <tr>


                        <td>  <p class="MOtext">SPONSORS</p>  </td>
                    </tr>

                </table>

                <table border="0" width="150" height="30">
                    <tr>
                        <td> <img src=~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png alt="block" width="60" height="30"></td>
                    </tr>
                </table>

                <table border="0" width="150" height="30">
                    <tr>
                        <td> <img src=~/Content/images/Sponsors/LogoRoundColor.png alt="block" width="30" height="30"></td>
                        <td> <img src=~/Content/images/Sponsors/LogoRoundColor.png alt="block" width="30" height="30"></td>
                        <td><img src=~/Content/images/Sponsors/Ellyn-Bye-Logo.png alt="block" width="50" height="30"></td>
                    </tr>
                </table>
                <table border="0" width="150" height="30">

                    <tr>
                        <td><img src=~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png alt="block" width="50" height="30"></td>

                    </tr>

                </table>

                <table border="0" width="150" height="30">
                    <tr>
                        <td><img src=~/Content/images/Sponsors/RACC.png alt="block" width="50" height="30"></td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>

            <td>
                <img src=~/Content/images/Tempest.png alt="block" width="350" height="400">

            </td>
            <td>
            </td>
            <td></td>

        </tr>

        <tr>

            <td><img src=~/Content/images/MidsummerNightDream.png alt="block" width="350" height="400"></td>

        </tr>

        <tr>

            <td><img src=~/Content/images/macbeth.png alt="block" width="350" height="400"></td>
            <td></td>
        </tr>
        <tr>
            <td></td>

            <td></td>
        </tr>

    </table>

</div>



<div class="info">

    <table class="infoX" align="center" border="0" width="800" height="15" cellpadding="8">
        <tr>
            <th style="width: 70%;"><p class="LM">  Land Acknowledgment</p></th>

            <th style="width:30% ;"></th>
        </tr>

        <tr>


            <td>
                <p>
                    Theater Vertigo humbly acknowledges we live and work on the unceded, traditional
                    Tribal lands of the Multnomah, Wasco, Clackamas. Chinook bands, KathLamet, Tualatin
                    Kalapuya, Cowtitz, Mollala, Cascades, Oregan City Tumwater, Confederated Tribes of
                    The Grand Ronde and other indigenous peoples.
                </p>
                <p>
                    We are on stolen Land.

                    Theater Vertigo hac been and continues to examine our community relationships to
                    Ensure our collaborator, partners and sponsors support our regions Indigenous Nations and communities.

                    One of the ways Theater is working to act on hour commitment to being of service to the
                    Lands that we now share is to build bridges between our arts community and local Nations.
                </p>
            </td>

           
            <td>
                <p>
                    <a href="https://www.nayapdx.org/">
                        <img src="/Content/images/NAYAFamilyCenter.jpg"/>

                    </a>
                </p>
            </td>






        </tr>

        <tr>
            <td></td>
            <td>
                <p>
                    Click to visit the NAYA Family Center to learn more
                    about supporting our local indigenous communities.
                </p>
            </td>
        </tr>
    </table>

</div>
